<!-- Template Widgets -->

<div class="flex-container header-bg">

    <div class="flex-item flex-logo">
        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png') })|raw}}
    </div>
    <div class="flex-item flex-companyname">
        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
    </div>
    <div class="flex-item flex-nav">
        {{widget('extendednavigation', 'navigation', {"align":"right"})|raw}}
    </div>

</div>
<div class="default-header-bottom-line"></div>

<!-- End Template Widgets -->